body {
  font-family: Arial, sans-serif;
  background-color: #393D49;
  background-image: url('https://cirruscdn.com/static/noise.png');
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  padding: 4vw;
}

form {
  padding: 3rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 4rem);
  max-width: 600px;
}

.form-control {
  width: 60px;
  height: 60px;
  margin: 0 2px;
  text-align: center;
  font-size: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  max-width: 60px;
}

.d-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.btn-primary {
  background-image: linear-gradient(to bottom right, #997399, #f8598b, #f7bf00);
  color: white;
  border: none;
}

@media (max-width: 768px) {
  form {
    max-width: 90vw;
    padding: 1rem;
  }
}

@media (max-width: 576px) {
  body {
    overflow: hidden;
    padding: 0;
  }
  form {
    max-width: 100vw;
    padding: 1rem;
    margin-top: 20vh;
  }
  .form-control {
    font-size: 2rem;
    margin: 0 2px;
  }
  .d-flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  .d-flex .form-control {
    flex: 0 0 22%;
    margin-bottom: 10px;
  }
  .d-flex .form-control:nth-child(4n+1) {
    margin-left: 0;
  }
  .d-flex .form-control:nth-child(4n) {
    margin-right: 0;
  }
}

.mobile .d-flex .form-control {
  flex: 0 0 22%;
  margin-bottom: 10px;
}